<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap + Custom Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>BeLong</title>
</head>

<body>

    <!-- 공통 네비게이션 -->
    {% include "navbar.html" %}

    <!-- 페이지별 콘텐츠 영역 -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    {% block script %}
    {% endblock %}

</body>
</html>
